<?xml version="1.0" encoding="UTF-8"?>
<menuitem Name="Maby" IsSummary="Y" IsSOTrx="N" IsReadOnly="Y" EntityType="D">
<menuitem Report="adelantosueldo2"/>
<menuitem Report="adelantosueldo3"/>
<menuitem Report="adelantosueldo"/>
<menuitem Report="Almacenes1_ant"/>
<menuitem Report="Almacenes1"/>
<menuitem Report="Almacenes"/>
<menuitem Report="AlmacenesxSocioN_ant"/>
<menuitem Report="AlmacenesxSocioN"/>
<menuitem Report="Almacenesxvendedor"/>
<menuitem Report="AlmacenGuia"/>
<menuitem Report="almacenxsocio"/>
<menuitem Report="AnalisisCta6"/>
<menuitem Report="anexo12"/>
<menuitem Report="anulados"/>
<menuitem Report="BalanceStock"/>
<menuitem Report="BalanceStock_old"/>
<menuitem Report="BalanceXAlmacen"/>
<menuitem Report="CajaChica2_1"/>
<menuitem Report="CajaChica2_2"/>
<menuitem Report="CajaChica2"/>
<menuitem Report="CajaGeneral3"/>
<menuitem Report="cambiodeprecio"/>
<menuitem Report="canceladosantiguoscli"/>
<menuitem Report="canceladosantiguos"/>
<menuitem Report="canceladoscli"/>
<menuitem Report="canceladosprov"/>
<menuitem Report="Comisiones"/>
<menuitem Report="Comisiones_V2"/>
<menuitem Report="comprasfechascreacion"/>
<menuitem Report="comprasxcategoria"/>
<menuitem Report="CostoContable"/>
<menuitem Report="creditos"/>
<menuitem Report="creditos_org"/>
<menuitem Report="Cta_libro"/>
<menuitem Report="CtaResumen_Compras"/>
<menuitem Report="CtaResumen_ComprasTipoDoc"/>
<menuitem Report="CtaResumen_Ventas"/>
<menuitem Report="CtasResumen_ComprasTipDocImp"/>
<menuitem Report="Cuentasxlibro"/>
<menuitem Report="CumpitaFinal1"/>
<menuitem Report="CumpitaFinal2_1"/>
<menuitem Report="CumpitaFinal2"/>
<menuitem Report="CumpitaFinal"/>
<menuitem Report="cumpita_new"/>
<menuitem Report="daot_clientes"/>
<menuitem Report="daot_clientes_old"/>
<menuitem Report="daot_proveedores"/>
<menuitem Report="daot_proveedores_old"/>
<menuitem Report="daot_resumen_cli"/>
<menuitem Report="daot_resumen_cli_old"/>
<menuitem Report="daot_resumen_prov"/>
<menuitem Report="daot_resumen_prov_old"/>
<menuitem Report="deudas creditos"/>
<menuitem Report="DocumentoCtasDetalle"/>
<menuitem Report="DocumentoCtas"/>
<menuitem Report="DocVentasDetalle"/>
<menuitem Report="dretencion_1"/>
<menuitem Report="dretencion_1Subreport1"/>
<menuitem Report="dretencion_1Subreport2"/>
<menuitem Report="dretencion"/>
<menuitem Report="EstadoCuentasResumen"/>
<menuitem Report="EstadoDeCuentaCli"/>
<menuitem Report="EstadoDeCuentaCliTodo"/>
<menuitem Report="EstadoDeCuenta"/>
<menuitem Report="EstadoDeCuentaProv"/>
<menuitem Report="f12_1"/>
<menuitem Report="f12"/>
<menuitem Report="f12_old"/>
<menuitem Report="Formato14_1_1"/>
<menuitem Report="Formato14_1_2"/>
<menuitem Report="Formato14_1"/>
<menuitem Report="Formato3_17_A"/>
<menuitem Report="Formato3_17"/>
<menuitem Report="Formato8_1"/>
<menuitem Report="goods_transfers_2"/>
<menuitem Report="goods_transfers_3"/>
<menuitem Report="goods_transfers"/>
<menuitem Report="good_warehouse"/>
<menuitem Report="GuiaAlmacen"/>
<menuitem Report="GuiaFormato"/>
<menuitem Report="guia"/>
<menuitem Report="GuiaRemisionFormato"/>
<menuitem Report="GuiaRemisionMaby_1"/>
<menuitem Report="GuiaRemisionMaby_ant"/>
<menuitem Report="GuiaRemisionMaby"/>
<menuitem Report="GuiaRemisionMaby_old"/>
<menuitem Report="GuiaRemisionVentas_02"/>
<menuitem Report="GuiaRemisionVentas"/>
<menuitem Report="GuiasSalidaPendientes"/>
<menuitem Report="hijo2"/>
<menuitem Report="hijo"/>
<menuitem Report="honorarios"/>
<menuitem Report="ingreso_producto"/>
<menuitem Report="ingreso_socio"/>
<menuitem Report="Inventario"/>
<menuitem Report="Inventario_mega"/>
<menuitem Report="inventariopermanente"/>
<menuitem Report="KardexCosto"/>
<menuitem Report="Kardex"/>
<menuitem Report="KardexMensualCosto"/>
<menuitem Report="Kardex_No"/>
<menuitem Report="KardexNoValorizado"/>
<menuitem Report="LetrasBancoCliente"/>
<menuitem Report="letras"/>
<menuitem Report="LetrasPendientes"/>
<menuitem Report="LetrasTransito"/>
<menuitem Report="libre_retenciones"/>
<menuitem Report="LibroCaja"/>
<menuitem Report="lucho"/>
<menuitem Report="lucho_old"/>
<menuitem Report="movimientoxcategoria"/>
<menuitem Report="movimientoxcategoriaxdia"/>
<menuitem Report="no_costeados"/>
<menuitem Report="oc_format"/>
<menuitem Report="OrdenCompraFormato"/>
<menuitem Report="OtroLibroCaja"/>
<menuitem Report="OVPendientesCliente"/>
<menuitem Report="OV_Pendientes"/>
<menuitem Report="OVPendientesProducto"/>
<menuitem Report="pagos3"/>
<menuitem Report="pagosHaleakala"/>
<menuitem Report="pagos"/>
<menuitem Report="pagosmodif2"/>
<menuitem Report="pagosmodif3"/>
<menuitem Report="pagosmodif4"/>
<menuitem Report="pagosmodificado4"/>
<menuitem Report="pagosmodif"/>
<menuitem Report="panaderia"/>
<menuitem Report="panaderia-old"/>
<menuitem Report="Pendientes"/>
<menuitem Report="Pendientesxcliente"/>
<menuitem Report="PLEcompras"/>
<menuitem Report="PLEdiario"/>
<menuitem Report="PLEmayor"/>
<menuitem Report="PLEventas"/>
<menuitem Report="POS Report"/>
<menuitem Report="POSReport"/>
<menuitem Report="POSReportProd"/>
<menuitem Report="PrecioVentas"/>
<menuitem Report="prodsaldo"/>
<menuitem Report="producto_nuevo"/>
<menuitem Report="Productoprecio"/>
<menuitem Report="ProductosClasificacion"/>
<menuitem Report="productosxcliente"/>
<menuitem Report="PRUEBA"/>
<menuitem Report="rankingclientescategoria"/>
<menuitem Report="rank"/>
<menuitem Report="RCIUDAD"/>
<menuitem Report="r_docventaagen"/>
<menuitem Report="r_docventaall"/>
<menuitem Report="r_docventas"/>
<menuitem Report="RegistroDeCompras"/>
<menuitem Report="RegistroDeVentas"/>
<menuitem Report="RenovacionLetras"/>
<menuitem Report="RenovacionLetras_sinformato"/>
<menuitem Report="RenovacionLetrasTransito"/>
<menuitem Report="report1"/>
<menuitem Report="reporte_guirom_inout"/>
<menuitem Report="reporte_guirom"/>
<menuitem Report="reporte_guirom_lineas"/>
<menuitem Report="RequisicionCompra"/>
<menuitem Report="requisicion"/>
<menuitem Report="ResumenComprasTipoDoc2"/>
<menuitem Report="resumen_tipo_doc"/>
<menuitem Report="RESUMEN_VENTAS_"/>
<menuitem Report="RESUMEN_VENTAS_VENDEDOR"/>
<menuitem Report="RetirodeMaterial"/>
<menuitem Report="r_facturas"/>
<menuitem Report="RSucursal"/>
<menuitem Report="r_todasfacturas"/>
<menuitem Report="RTOTALES"/>
<menuitem Report="RVENDEDOR"/>
<menuitem Report="R_VentasXVendedor1"/>
<menuitem Report="R_VentasXVendedor"/>
<menuitem Report="Stock2"/>
<menuitem Report="Stock3"/>
<menuitem Report="Stock"/>
<menuitem Report="Stockmovline"/>
<menuitem Report="StockOhmlux"/>
<menuitem Report="TasasDeCambioBiMoneda"/>
<menuitem Report="TasasDeCambio"/>
<menuitem Report="transaccionespx"/>
<menuitem Report="transaccionesxcategoria"/>
<menuitem Report="UtilidadesVentasTopTen_hpl"/>
<menuitem Report="UtilidadVentasTopTen"/>
<menuitem Report="ValorizadoStock"/>
<menuitem Report="ValorizadoStock_old"/>
<menuitem Report="ValorizadoStock_v2"/>
<menuitem Report="VendedorProducto"/>
<menuitem Report="vendibles_1"/>
<menuitem Report="vendibles"/>
<menuitem Report="vendiblesxlinea"/>
<menuitem Report="ventascajas"/>
<menuitem Report="ventasfunciones"/>
<menuitem Report="VentasHaleakala"/>
<menuitem Report="ventasprove"/>
<menuitem Report="ventastienda_1_2_detalle"/>
<menuitem Report="ventastienda_1_2"/>
<menuitem Report="ventastienda_1"/>
<menuitem Report="ventastienda"/>
<menuitem Report="VentasTopTen"/>
<menuitem Report="VENTAS_TOTALES"/>
<menuitem Report="ventasxcategoria"/>
<menuitem Report="ventasxcategoriaresumen"/>
<menuitem Report="ventasxcliente"/>
<menuitem Report="ventasxgrupo"/>
<menuitem Report="ventasxgruporesumen"/>
<menuitem Report="VentasXProducto"/>
</menuitem>
