<?xml version="1.0" encoding="UTF-8"?>

<menubar>
    <!--
	<menu id="menu_file_new" placeholderid="open">
	    <separator />
		<menuitem id="AddRule"/>
		<menuitem id="AddRuleGroup"/>
	</menu>
	-->

	<menu id="menu_file" placeholderid="top">
		<menuitem id="RemoveRule" />
        <menuitem id="EditProperties" />
       <!-- <imenu id="TagContactMenu" />  --> 
	</menu>

	<menu id="menu_utilities" placeholderid="bottom">
	    <separator />
	    <menuitem id="ComposeMessage"/>
        <menuitem id="AddVCard"/>
        <menuitem id="ExportVCard" />
	 	<menuitem id="AddressbookImport"/>
	</menu>

</menubar>
