<?xml version="1.0" encoding="UTF-8"?>
<menuitem Name="Ohmlux" IsSummary="Y" IsSOTrx="N" IsReadOnly="Y" EntityType="D">
<menuitem Report="AnalisisDeCuenta"/>
<menuitem Report="AnalisisKardexContabilidad"/>
<menuitem Report="BalanceStock_Rangos"/>
<menuitem Report="BalanceStock_RangosL"/>
<menuitem Report="BalanceStock_V2"/>
<menuitem Report="BalanceStock_V2L"/>
<menuitem Report="Comisiones_V7"/>
<menuitem Report="ConciliacionBanco"/>
<menuitem Report="ConciliacionPendientes"/>
<menuitem Report="DocComprasResumen"/>
<menuitem Report="DocSinAplicar"/>
<menuitem Report="DocVentasDetalle"/>
<menuitem Report="DocVentasResumen"/>
<menuitem Report="EstadoCuentasBancos"/>
<menuitem Report="EstadoCuentasResumen_v3"/>
<menuitem Report="EstadoCuentasResumen_v3Proveedor"/>
<menuitem Report="EstadoDeCuentaProveedor"/>
<menuitem Report="EstadoDeCuenta_V4"/>
<menuitem Report="FacturasPendientesClienteContable_AFecha"/>
<menuitem Report="FacturasPendientesProvContable_AFecha"/>
<menuitem Report="FormatoElectronicoRCSunat"/>
<menuitem Report="GuiasSalidaPendientes"/>
<menuitem Report="KardexValorizadoSimplificado_V2"/>
<menuitem Report="KardexValorizadoSimplificado_V2L"/>
<menuitem Report="LetrasBancoCliente_AFecha"/>
<menuitem Report="LetrasBancoCliente"/>
<menuitem Report="LetrasPendientesClienteContable_AFecha_V2"/>
<menuitem Report="LetrasPendientes"/>
<menuitem Report="LetrasPendientesProvContable_AFecha"/>
<menuitem Report="LetrasTransito"/>
<menuitem Report="LibroMayorTrabajo"/>
<menuitem Report="OCPendientesProv"/>
<menuitem Report="OrdenCompraFormato"/>
<menuitem Report="OVentas_Guias"/>
<menuitem Report="OVPendientesCliente2_V3"/>
<menuitem Report="OV_Pendientes"/>
<menuitem Report="OVPendientesProducto"/>
<menuitem Report="pagos"/>
<menuitem Report="POS Report"/>
<menuitem Report="POSReportProd"/>
<menuitem Report="prodsaldo"/>
<menuitem Report="ProductosClasificacion"/>
<menuitem Report="rankingclientescategoria"/>
<menuitem Report="RankingDeVentasxSocio"/>
<menuitem Report="rank"/>
<menuitem Report="r_docventas"/>
<menuitem Report="RegistroDeCompras_V3"/>
<menuitem Report="RegistroDeVentas1"/>
<menuitem Report="RenovacionLetras"/>
<menuitem Report="RenovacionLetrasTransito"/>
<menuitem Report="RetencionesPorRecoger_V5"/>
<menuitem Report="RetirodeMaterial"/>
<menuitem Report="RTOTALES"/>
<menuitem Report="RVENDEDOR"/>
<menuitem Report="SeguimientoFacturas"/>
<menuitem Report="stockohmlux"/>
<menuitem Report="StockVentasPresup_v4"/>
<menuitem Report="StockVentasPresup_v4L"/>
<menuitem Report="TasasDeCambioBiMoneda"/>
<menuitem Report="TasasDeCambio"/>
<menuitem Report="transaccionespx"/>
<menuitem Report="transaccionesxcategoria"/>
<menuitem Report="UtilidadVentasTopTen"/>
<menuitem Report="UtilityProducts"/>
<menuitem Report="VentasMontosxClientexProducto"/>
<menuitem Report="ventasprove"/>
<menuitem Report="VentasTopTen"/>
<menuitem Report="VentasUnidadesxClientexProducto_V1"/>
<menuitem Report="ventasxcategoria"/>
<menuitem Report="ventasxcliente"/>
<menuitem Report="VentasXProducto-Estadistica"/>
<menuitem Report="VentasXProducto"/>
<menuitem Report="warehousecosted2"/>
<menuitem Report="warehousecosted"/>
</menuitem>
